body * {
  font-family: 'Arima Madurai';
  user-select: none;
}

img {
    object-fit: contain;
}

.backdrop-blur{
  backdrop-filter: blur(8px);
}

.app-body{
  width: 100%;
  height: 93vh;
  background-image: linear-gradient(to bottom, #000807, rgb(214, 214, 214));
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;

}

@keyframes gradientShift{
    0% {background-position: 40% 0%}
    50% {background-position: 40% 25%}
    100% {background-position: 40% 0%}

}

.app-header{
  height: 7vh;
}

.menu-view{
  position: relative;
  height: 100%;
  width: 100%;
}

.background-title{
  position: absolute;
  z-index: -1;
  font-size: 6rem;
  color: white;
  font-family: 'Rakkas';
}

.user-login, .user-choose-role, .user-choose-campaign, #menu-campaign-list {
  height: 65%;
}

#menu-campaign-list{
  overflow-y: scroll;
}

.campaign-images, .campaign-asset-details{
  height: 98%;
}

.grid-image{
  height: 30%;
  width: 30%;
}

.image-grid{
  height: 100%;
}

.image-grid-body{
  height: 90.5%;
  background-color: white;
  overflow-y: scroll;
}

.selected-tab{
  color: white;
  background-color: #343a40;
}

.selected{
  color: white;
  background-color: #932b2b;
  opacity: .5;
}

.environment-image{
  display: flex;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

.placeholder{
  filter: blur(4px);
  justify-content: center;
  align-items: center;
}

.placeholder *{
  font-family: 'Rakkas';
  font-size: 10rem;
  text-align: center;
  vertical-align: middle;
}

#GM-alt-text{
  font-size: 6rem;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:.6; }
  100% { opacity:1; }
}

.fade-loop {
  color: white;
  animation: flickerAnimation 5s infinite;
}

.tokens-container{
  display: flex;
  justify-self: center;
  justify-content: space-around;
  width: 95%;
  height: 30%;
  position: absolute;
  bottom: 5%;
  padding: .25rem;
  z-index: 2;
}

.token{
  position: relative;
  height: 100%;
  width: 15%;
  font-size: .75rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
}

.file-browse{
  position: relative;
}

#hidden-file-input {
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
