body * {
  font-family: 'Arima Madurai';
}

.bg-gradient{
  background-image: linear-gradient(to bottom right, #000807, #4D4847);

}
.color-quartz{
    background-color: #4D4847;
}

.color-light-grey{
  background-color: #e6e6e6;

}

.blur{
  filter: blur(8px);
}

.app-header{
  height: 6vh;
}

.view-body{
  height: 93vh;
  width: 100%;
}

.all-images-body{
  overflow-y: scroll;
}

.selected{
  background-color: #932b2b;
  opacity: .5;
}

.environment-image{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clear-environment{
  font-size: .75rem;
  position: relative;
  top: 5%;
  right: 90%;
}

.grid-image{
  height: 30%;
  width: 30%;
  object-fit: contain;
}

.selected-tab{
  color: white;
  background-color: #932b2b;
}

.custom-modal{
  z-index: 2000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 7rem;
  background-color: rgba(10, 10, 10, .89);
}
