body * {
  font-family: 'Arima Madurai';
}

.bg-gradient{
  background-image: linear-gradient(to bottom right, #000807, #4D4847);

}
.color-quartz{
    background-color: #4D4847;
}
.app-header{
  height: 6vh;
}

.view-body{
  height: 93vh;
  width: 100%;
}

.images-table{
  overflow-y: scroll;
}

.selected{
  background-color: #932b2b;
  opacity: .5;
}

.hero-image{
  background-size: auto ;
}
